In [17]:
#Q1
sales = 150
average_price = 2100
cogs_percentage = 0.59
annual_gross_revenue = sales*average_price
monthly_gross_revenue = (sales*average_price)/12
quarterly_gross_revenue = (sales*average_price)/4
print("The annual_gross_revenue is {0}".format(annual_gross_revenue))
print("The monthly_gross_revenue is {0}".format(monthly_gross_revenue))
print("The quarterly_gross_revenue is {0}".format(quarterly_gross_revenue))

The annual_gross_revenue is 315000
The monthly_gross_revenue is 26250.0
The quarterly_gross_revenue is 78750.0

In [21]:
#Q2
annual_cost = annual_gross_revenue*cogs_percentage
monthly_cost = monthly_gross_revenue*cogs_percentage
quarterly_cost = quarterly_gross_revenue*cogs_percentage
print("The annual_net_revenue is {0}".format(annual_gross_revenue - annual_cost))
print("The monthly_net_revenue is {0}".format(monthly_gross_revenue - monthly_cost))
print("The quarterly_net_revenue is {0}".format(quarterly_gross_revenue*quarterly_cost))

The annual_net_revenue is 129150.0
The monthly_net_revenue is 10762.5
The quarterly_net_revenue is 3658921875.0

In [37]:
#Q3
sales = input("Enter total sales:")
sales.isnumeric()

Enter total sales:a

False

In [56]:
#Q4
jan_sales = [1834., 1918.,  812., 1680., 2492., 2776., 2390., 2297.]
feb_sales = [2148., 1745., 2190., 1863., 2589., 2345., 2724., 2239., 2785., 1483., 2038., 2021.]
mar_sales = [1968., 1718., 1634., 2126., 1252., 2538., 2837., 1223., 2034., 1611., 2791.]
apr_sales = [2496., 2733.,  706., 2386., 3382., 1844., 1440., 2594., 1978., 2023., 2559., 1577.]
may_sales = [2832., 1681., 1954., 1801., 2294., 1732., 1638., 1949., 2676., 2329., 2370.]
jun_sales = [2335., 2538., 2186., 2186., 2622., 2564., 1269., 3124., 1286., 1689., 2627., 1345.]
jul_sales = [1651., 1957.,  853., 2229., 2990., 3148., 2917.,  952., 1583., 2447., 2491.]
aug_sales = [2520., 2540., 1756., 1562., 972., 2258., 1413., 1779., 2503., 2860.]
sep_sales = [1827., 2003., 1349., 1858., 1370., 1076., 2897., 2238.,   91., 1951., 2509., 2933.]
oct_sales = [1273., 3169., 1192., 2219., 2195., 3157., 2912., 2012.,  722.,  922.]
nov_sales = [1827., 2003., 1349., 1858., 1370., 1076., 2897., 2238.,   91., 1951., 2509., 2933.]
dec_sales = [2200., 2460., 1260., 3157., 2912., 2012.,  722.,  922.]
jan_average= sum(jan_sales)/ len(jan_sales)
feb_average= sum(feb_sales)/ len(feb_sales)
mar_average= sum(mar_sales)/ len(mar_sales)
apr_average= sum(apr_sales)/ len(apr_sales)
may_average= sum(may_sales)/ len(may_sales)
jun_average= sum(jun_sales)/ len(jun_sales)
jul_average= sum(jul_sales)/ len(jul_sales)
aug_average= sum(aug_sales)/ len(aug_sales)
sep_average= sum(sep_sales)/ len(sep_sales)
oct_average= sum(oct_sales)/ len(oct_sales)
nov_average= sum(nov_sales)/ len(nov_sales)
dec_average= sum(dec_sales)/ len(dec_sales)

print("The jan_average is {0}".format(jan_average))
print("The feb_average is {0}".format(feb_average))
print("The mar_average is {0}".format(mar_average))
print("The apr_average is {0}".format(apr_average))
print("The may_average is {0}".format(may_average))
print("The jun_average is {0}".format(jun_average))
print("The jul_average is {0}".format(jul_average))
print("The aug_average is {0}".format(aug_average))
print("The sep_average is {0}".format(sep_average))
print("The oct_average is {0}".format(oct_average))
print("The nov_average is {0}".format(nov_average))
print("The dec_average is {0}".format(dec_average))

The jan_average is 2024.875
The feb_average is 2180.8333333333335
The mar_average is 1975.6363636363637
The apr_average is 2143.1666666666665
The may_average is 2114.181818181818
The jun_average is 2147.5833333333335
The jul_average is 2110.7272727272725
The aug_average is 2016.3
The sep_average is 1841.8333333333333
The oct_average is 1977.3
The nov_average is 1841.8333333333333
The dec_average is 1955.625

In [58]:
#Q5
import string
import random

source1 = string.ascii_lowercase
source2 = "!#$%&*+_?@^"
source3 = string.ascii_uppercase
list_r =[source1, source2, source3]#.paretovariate
print(list_r)

['abcdefghijklmnopqrstuvwxyz', '!#$%&*+_?@^', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ']